body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

input[type=text] {
  color: white;
}

button {
  color: white;
  background-color: #ED1F34;
  border-radius: 5px;
  border: none;
  font-size: 1.5em;
  font-weight: 500;
  padding: 10px 30px;
  width: 20%;
}

input[name="email"] {
  background-color: #2A2739;
  border: none;
  border-radius: 5px;
  width: 70%;
  padding: 10px 20px;
  margin: 20px 20px 0 0;
  font-size: 1.6em;
}

input[name="first-name"], input[name="last-name"] {
  background-color: #2A2739;
  border: none;
  border-radius: 5px;
  padding: 10px 20px 5px;
  font-size: 1.6em;
  width: 15%;
  margin: 8px;
}

input[name="privacyPolicy"] {
  width: 3%;
  position: relative;
  bottom: 1.5em;
  margin-right: 8px;
}

.App {
  background-color: #120F23;
  border-top: solid 1px #413F4B;
  border-bottom: solid 1px #413F4B;
  color: #94AEBF;
  height: 26%;
  width: 100%;
  position: absolute;
  top: 28%;
}

.congrats-message {
  color: #B6FDBF;
  font-size: 5.4em;
  letter-spacing: 4px;
  float: left;
  line-height: 1.6em;
  position: absolute;
  width: 32%;
  overflow: visible;
  overflow-wrap: break-word;
  margin-top: 2%;
  margin-left: 13%;
}

.email-signup {
  margin: 20px auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 30px 0 0;
}

.error-message {
  margin: 5% auto;
}

.join-message {
  color: #B6FDBF;
  font-size: 5.4em;
  letter-spacing: 4px;
  width: 20%;
  float: left;
  line-height: 1.6em;
  margin: 2.5% 0 0 13%;
}

.lookout-message {
  font-size: 2em;
  font-weight: 200;
  margin-left: 45%;
}

.message, .message {
  font-weight: 700;
  font-size: 1.5em;
  width: 100%;
}

.name-form button {
  width: 10%;
  padding: 10px 5px;
  font-weight: 600;
}

.name-form-div {
  margin-top: 3%;
}

.privacy-policy-agreement {
  margin-top: 10px;
  width: 60%;
  font-size: 0.8em;
  font-weight: 300;
  color: #5B5A62;
  display: inline-block;
}

.thanks-message {
  margin-top: 5%;
  font-size: 2.2em;
  font-weight: 700;
  margin-left: 45%;
}

.underline {
  text-decoration: underline;
}


/* Tablet landscape */
@media screen and (max-width: 1024px) {

  input[name="email"] {
    color: white;
    width: 47%;
  }

  input[name="first-name"], input[name="last-name"] {
    color: white;
    width: 20%;
  }

  .congrats-message {
    margin-left: 6%;
    margin-top: 3%;
    overflow-wrap: normal;
    font-size: 4.1em;
  }

  .email-signup {
    margin: 20px 30.5%
  }

  .join-message {
    width: auto;
    position: absolute;
    margin: 6% 0 0 4%;
    font-size: 4.1em;
  }

  .lookout-message {
    font-size: 1.5em;
  }

  .message {
    font-size: 1.3em;
  }

  .name-form-div {
    margin-left: 33%;
    margin-top: 6%;
  }

  .name-form button {
    width: 20%;
  }

  .thanks-message, .lookout-message {
    margin-left: 42%;
    font-size: 1.8em;
  }
}


/* Tablet portrait */
@media screen and (max-width: 800px) {
  .App {
    text-align: center;
  }

  .congrats-message {
    font-size: 3.2em;
    margin-left: 29%;
  }

  .email-form {
    text-align: left;
    margin-left: 120px;
    margin-right: -50px;
  }

  .email-signup {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .join-message {
    width: auto;
    margin: 0;
    padding-left: 30%;
    position: relative;
  }

  .lookout-message {
    margin-left: auto;
    margin-top: 20%;
  }

  .message {
    visibility: hidden;
  }

  .message::after{
    margin-left: -43%;
    visibility: visible;
  	content: "SIGN UP FOR THE TLC NEWSLETTER";
  }

  .name-form-div {
    margin-left: 0;
  }

  .privacy-policy-agreement {
    margin-left: 15px;
  }

  .thanks-message {
    position: absolute;
    top: 63px;
    margin-left: 24%;
    left: 0;
    text-align: left;
    width: 40%;
  }
}


/* phone */
@media screen and (max-width: 480px) {

  button {
    width: 300px;
    font-size: 1em;
  }

  input[name="email"] {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 1em;
  }

  input[name="first-name"], input[name="last-name"] {
    color: white;
    width: 30%;
    padding-top: 15px;
    font-size: 1em;
  }

  input[name="privacyPolicy"] {
    bottom: 45px;
  }

  .App {
    height: 50%;
    border-top: solid 1px #413F4B;
    border-bottom: solid 1px #413F4B;
  }

  .congrats-message {
    width: 75%;
    overflow-wrap: break-word;
    text-align: left;
    margin-left: 15%;
  }

  .email-form {
    margin: 0;
    text-align: center;
  }

  .join-message {
    font-size: 2.5em;
    padding: 0;
    margin: auto;
    margin-left: 28%;
    text-align: left;
    width: 200px;
    position: absolute;
  }

  .lookout-message {
    margin-left: auto;
    margin-top: 10px;
  }

  .message {
    font-weight: 700;
    font-size: 1.3em;
    width: 60%;
    margin: 20% auto 10px;
  }

  .message {
    visibility: visible;
    font-size: 1em;
    width: 80%;
  }

  .message::after{
    display: none;
  }

  .name-form {
    margin-right: 6px;
  }

  .name-form button {
    width: 86%;
  }

  .privacy-policy-agreement {
    margin-left: 0;
    text-align: left;
  }

  .thanks-message {
    width: auto;
    position: initial;
    margin-top: 31%;
  }
}
